*.log
apache-tomcat-8.5.70/*
/apache-tomcat-8.5.70/*
/apache-tomcat-8.5.70/logs/catalina.2021-09-30.log
/apache-tomcat-8.5.70/logs/localhost.2021-09-30.log
/apache-tomcat-8.5.70/logs/localhost_access_log.2021-09-30.txt
/apache-tomcat-8.5.70/work/Catalina/localhost/web/org/apache/jsp/principal/index_jsp.class
/apache-tomcat-8.5.70/work/Catalina/localhost/web/org/apache/jsp/principal/index_jsp.java
/apache-tomcat-8.5.70/work/Catalina/localhost/web/org/apache/jsp/principal/login_jsp.class
/apache-tomcat-8.5.70/work/Catalina/localhost/web/org/apache/jsp/principal/login_jsp.java
/apache-tomcat-8.5.70/work/Catalina/localhost/web/org/apache/jsp/principal/signin_jsp.class
/apache-tomcat-8.5.70/work/Catalina/localhost/web/org/apache/jsp/principal/signin_jsp.java
/web/.idea/
/web/nbproject/